aws-lambda-context==1.1.0
aws-lambda-logging==0.1.1
aws-lambda-powertools==1.31.1
beautifulsoup4==4.11.1
dataclass-wizard==0.22.2
datefinder==0.7.3
elasticsearch==7.17.6
elasticsearch-dsl==7.4.0
iteration-utilities==0.11.0
marshmallow==3.19.0
marshmallow-dataclass==8.5.10
msal==1.20.0
pandas==1.5.1
paramiko==2.8.0
PGPy==0.6.0
python-dotenv==0.20.0
tika==1.24
vaderSentiment==3.3.2
